export AGENT_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx
export GRAPHQL_TOKEN=xxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export ORGANIZATION=<your organization>
export CLUSTER_UUID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
